body{
    background-color: #DDA0DD;
}

header{
    border: 2px solid red;
    text-align: center;
}

nav{
    border: 2px solid red;
    text-align: center;

}

h2{
    text-align: center;
}

nav ul li{
    display: inline;
    margin-right: 45px;
}

main{
    border: 2px solid blue;
}

article{
    border: 2px solid green;
}

section{
    border: 2px solid black;
}

footer{
    border: 2px solid red;
}

#principal{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C71585;
}