body {
  color: rgb(255, 255, 255);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgb(194, 194, 194);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  margin: 0 15px;
}

.content-item{
  align-items: center;
  background-color: rgb(194, 194, 194);
  padding: 25px;
  border-radius: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(194, 194, 194);
  height: 100px;
}