ol{
    background-color: yellow;
}

h1,h2,h3,h4,h5,h6{
    color: red;
}

h1 em,h2 em,h3 em,h4 em,h5 em,h6 em{
    font-size: 40px;
}

li{
    font-size: 20px;
}

li em{
    font-weight: bolder;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}
ol li:nth-child(even){
    color: green;
}

li:nth-child(-n + 3){
    color: blue;
}

ul li:nth-child(1) a:hover{
    font-weight: bold;
    background-color: orange;
}
ul li:nth-child(2) a:hover{
    font-weight: bold;
    background-color:green;
}
ul li:nth-child(3) a:hover{
    font-weight: bold;
    background-color:black;
}
ul li:nth-child(4) a:hover{
    font-weight: bold;
    background-color:yellow;
}
ul li:nth-child(5) a:hover{
    font-weight: bold;
    background-color:greenyellow;
}




